#root {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: auto;
  padding: 24px;
}

.Menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}



.Card{
  aspect-ratio: 1/1.3;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 35px;
  position: relative;  
  user-select: none;
  perspective: 1000px;
  
  & h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    transition: .3s;
  }

  & .WordPhonetic{
    font-size: 1rem;
    color: var(--text-grey);
    margin: 10px 0;
    overflow: hidden;
    transition: .2s;
    visibility: visible;
    max-height: 100%;
  }

  & .Upper{
    background-color: var(--secondary-color);
    transition: var(--transition);
    width: 100%;
    height: 95%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px; */
    border-radius: 35px;
    position: absolute;
    left: 0;
    top: 0;
  }


  & .Visible-true{
    height: 0%;
  }

  .Visible-true .VideoContainer{
    opacity: 0;
    height: 0%;
  }

  .Visible-true h1{
    font-size: 1.275rem;
    line-height: 1rem;
  }

  .Visible-true .WordPhonetic{
    visibility: hidden;
    max-height: 0%;
    margin: 0;
  }

  & .FavoriteButton {
    position: absolute;
    transition: .4s;
    top: 18px;
    right: 18px;
    margin: 0;
    width: 34px;
    height: auto;
    aspect-ratio: 1;
}

  & .Under{
    background-color: none;
    width: 100%;
    height: calc(100% - 70px);
    margin-top: 70px;
    padding: 24px;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-color);
  }

  & .Definition{
    font-weight: 600;
    display: block;
    text-align: center;
  }

  & .Example{
    font-weight: 400;    
    display: block;
    text-align: center;
    font-style: italic;
    color: var(--text-grey-dark);
  }

  & .CardWrapper {
      width: 100%;
      height: 100%;
      transition: var(--transition);
      border-radius: 35px;
      position: relative;
      transition: var(--transition);
      transform-style: preserve-3d;
      background-color: var(--card-color);           
      box-shadow: var(--shadow-s);
      animation: Appear var(--transition);
  }

}

.WordContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.VideoContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;  
  height: 100%;
  max-height: 50%;
  /* z-index: 9999; */
  backface-visibility: hidden;
  overflow: hidden;
  aspect-ratio: 16/9;
  transition: .2s;
}

.VideoPlayer{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
  }

  .VideoSubtitle{
     position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-weight: 600;
    text-shadow: 0 0 5px rgb(0 0 0);
    bottom: 10px;
    width: 80%;
    text-align: center;
    font-size: .775rem;
    line-height: 1rem;
    border-radius: 4px;
    padding: 4px;
    color: #ffffff;
  }

  .VideoPlayButton{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    width: 50px;
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    color: white;
    cursor: pointer
  }

@keyframes Appear {
  0%{ transform: scale(0)}
  99%{transform: scale(1)}
}

.Flip-true {
  transform: rotateY(-180deg);
}

.Front, .Back{  
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 35px;
  overflow: hidden;
}

.Back {
  transform: rotateY(180deg);
}

.Back .Upper {
  justify-content: center;
}



.Button{
  width: 62px;
  height: 62px;
  aspect-ratio: 1/1;
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: var(--shadow-s);
  color : var(--main-color);
  transition: var(--transition);
  margin: 18px;
}

.Button.Active-true{
  background-color: var(--main-color);
  color: var(--card-color);
}

/* .Active-true:hover{
  background-color: var(--card-color);
  color: var(--main-color);
}

.Active-false:hover{
  background-color: var(--main-color);
  color: var(--card-color);
} */

.Randomizer:hover, .SearchGoogle:hover{
  background-color: var(--main-color);
  color: var(--card-color);
}

.SearchBarContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: relative;

  /* & .SearchBarContainer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
  } */

  & .Search{
    width: 100%;
    height: 62px;
    border-radius: 100px;
    border: none;
    background-color: var(--card-color);
    color: var(--text-main);
    padding: 6px 24px;
    font-size: 1.1em;
    font-weight: 400;
    box-shadow: var(--shadow-s);
  }

  & .SearchButton{
    --inside : 56px;
    position: absolute;
    right: calc(62px - var(--inside));
    margin: 0;
    width: var(--inside);
    height: var(--inside);
    background-color: var(--main-color);
    color: var(--card-color);
    aspect-ratio: 1/1;
    box-shadow: none;
  }
}

.invert{

  
  .Upper {
    background-color: var(--card-color);

    & h1{
      color: var(--secondary-color);
    }
  }

  .Under{
    background-color: var(--secondary-color);
  }

  .CardWrapper {
    background: linear-gradient(180deg, rgba(255,255,255,1) 3%, var(--secondary-color) 15%);
  }

  .Definition{
    color: var(--card-color);
  }

  .Example{
    color: var(--text-grey-dark);
  }
}

:root{  
  --opacity-overlay : 0;
  --display-overlay : none;
  --transition-overlay : 0s;
  --animation-overlay : fadeIn;
  --index-overlay : -999;
  --y : 0px;
  --x : calc(100% - 30px + var(--y));
  --transition-drawer : 0s;
}

.DrawerOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  z-index: var(--index-overlay);
  opacity: var(--opacity-overlay);
  transition: var(--transition-overlay) cubic-bezier(0.65, 0.05, 0.36, 1);
  /* display: var(--display-overlay); */
  /* animation: var(--animation-overlay) 2s; */
}



.Drawer {
  
  z-index: 1000;
  width: 100%;
  height: fit-content;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateY(var(--x));
  transition: var(--transition-drawer) cubic-bezier(0.65, 0.05, 0.36, 1);
  overflow: hidden;
  /* transition: .4s; */

  & .GripContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: rgba(255,255,255,var(--opacity-overlay));
    transition: var(--transition-drawer) cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  & .Grip{
    border-radius: 100px;
    width: 100px;
    height: 6px;
    cursor: grab;
  }

  & .DrawerContent{
    width: 100%;
    height: 50%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    transition: var(--transition-drawer) cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: rgba(255,255,255,var(--opacity-overlay));
  }

  & .CardFavorite{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--card-color);
    border-radius: 100px;
    width: fit-content;    
    height: 45px;
    padding: 12px;
    margin: 12px;
    cursor: pointer;
  }
}

.Open-Drawer{
  transform: translateY(0%);
  transition: var(--transition);
}